 html, body {
   margin: 0px !important;
   background-color:#262626;
    }
#leftpan{
	width: 250px;
	padding-top:10px; 
	margin-left: 50px;	
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	list-style:none; 
	color:#fff;
	background-color:#424242;
	overflow-y: scroll; 
	z-index: 1000;
	display: none;
}
#sidebar{position:fixed;left:0;top:0;bottom:0;z-index:11;width:50px;list-style:none;text-align:center; background-color:#353535; color:#fff;}
.navbar{
	margin-bottom:0px;
	z-index:100;
	border-radius:0px;
}
#sidebar a{ color:#ccc; text-decoration:none;}
#sidebar a:hover{ color:#fff; text-decoration:none;}
#sidebar ul{list-style:none; margin:0px; padding:0px; color:#fff;}
#sidebar li{
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #292929;
	transition:0.2s ease-in-out;
	cursor:pointer;
	font-size: 12px;
}
#sidebar li .fa{ margin-bottom:5px;} 
#sidebar li:hover{
	background-color:#424242;
	border-radius:0px;
	color:#fff !important;
}
#sidebar li:hover a{
	background-color:#424242;
	border-radius:0px;
	color:#fff !important;
}

.liactive{
	background-color:#424242;
	border-radius:0px;
	color:#fff !important;
}
.liactive a{
	color:#fff !important;
}
#sidebar i{
	font-size: 20px;
}
#canvas{ background-color:#ccc; border-color:transparent;}
#rightpan { width: 1200px;  }
#rightpan #cana{ margin: 100px auto;  }
#shapecon .blocker i{
	font-size:50px; 
}
#shapecon{
}
.blocker{; color:#fff;
	float: left;
	width: 100px;
	height: 70px;
	text-align:center;
	line-height: 70px;
}
#shapecon .blocker:hover{
	color:#fff;
	cursor:pointer;
}
#bottomcontrol{
		position:fixed;
		height:100%;
		text-align:center;
		 background-color:#353535;
		  color:#fff;
		  right:0;
		top:0;
		 }
#bottomcontrol ul{ margin:0px !important;}
#bottomcontrol li{ list-style:none; } 
#bottomcontrol div{ border-bottom:1px solid #292929; background-color:#353535;  padding:8px;}
#bottomcontrol i{ font-size:30px; }
#bottomcontrol div:hover{ background-color:#212121; cursor:pointer;}
.addtextbt{ padding:10px; background-color:#fff; color:#000; font-size:20px;}
.header {
  padding: 0px 0;
  background: #3f51b5;
  color:#fff;
  padding:5px;
  margin-bottom:20px;
}
.header .fa{ font-size:18px;}
.header a{ font-size:18px;}
.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  max-height: 50px;
}
.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header h1.logo a img {
  margin-right: 5px;
  max-height: 50px;
}
.header h1.logo .logo-title {
  vertical-align: middle;
}
.header .main-nav button {
  background: #4caf50;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 5px;
}
.header .main-nav .nav .nav-item.active a {
  color: #fff;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
}
.header  a:hover {
  color: #fff;
  background: #283593 !important;

}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #4caf50;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}

.myform{ 
	display:block;
	width:100%;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#ccc;
	background-color:#333;
	background-image:none;
	border:1px solid #212121;
	border-radius:0px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.myform:focus{
	border-color:#66afe9;
	outline:0;
	 -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}select::-ms-expand {
    display: none; /* hide default arrow in IE10 */
}
select {
    width: 60%; /* Set width. Do not set height else it will fail in IE8-10. Use padding for height. */
    color: #ccc;
    font-weight: normal;
    font-size: 15px;
    line-height:1.2em;
    margin: 0 0 10px;
    padding: 5px 10px; /* use this to set a specific height for your dropdown (DO NOT use the attribute 'height') */
    border: 1px solid #212121;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";
    background: url('../images/arrow.png') no-repeat 100% -7px #333; /* add your own arrow image */
    *background-image:none; /* turn bg image for IE7 */
    background: url('../images/arrow.png') no-repeat 100% -7px #333; /* fallback bg image*/
    background: url('../images/arrow.png') no-repeat 100% -7px, -webkit-linear-gradient(top, #333, #333);
    background: url('../images/arrow.png') no-repeat 100% -7px, -moz-linear-gradient(top, #333, #333);
    background: url('../images/arrow.png') no-repeat 100% -7px, -ms-linear-gradient(top, #333, #333);
    background: url('../images/arrow.png') no-repeat 100% -7px, -o-linear-gradient(top, #333, #333);
    background: url('../images/arrow.png') no-repeat 100% -7px, linear-gradient(top, #333, #333);
    -webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    appearance: none;
}
select option {
	background-color:#333; 
 font-weight: normal;
    font-size: 16px;
    line-height:1.2em;
    border: 1px solid #212121;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: "";}
#textcontpan button{ background-color:#333; color:#ccc; border:1px solid #212121;}
#textcontpan button:hover{ background-color:#000; color:#ccc; border:1px solid #212121;}
#textcontpan{ color:#ccc;}
#textcontpan div{ margin-bottom:10px;}
	input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		background-color: #262626;
		height: 10px;
		margin-top:10px;
		vertical-align: middle;
		cursor:pointer;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		background-color: #262626;
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #212121;
		box-shadow:inset 0 0 10px #212121;
		border: 1px solid #212121;
		height: 20px;
		width: 20px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #666666;
		box-shadow:inset 0 0 10px #666666;
		border: 1px solid #666666;
		height: 20px;
		width: 20px;
	}
	.modal-dialog{ width:730px;}
	    .btn-file {
        position: relative;
        overflow: hidden;
    }
 .fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: #333;
	border:1px solid #212121;
	color:#ccc;
	text-align:center;
	width:100%;
	height:50px;
	line-height:50px;
    border-radius: 2px;
    float: left;
	font-size:20px;
}
.fileContainer:hover {
	background-color:#212121;
}
.fileContainer [type=file] {
    cursor: pointer;
}
.mybtaar {
    background: #2e7d32;
	border:1px solid #212121;
	color:#fff;
	text-align:center;
	width:100%;
	height:50px;
	line-height:50px;
    border-radius: 2px;
    float: left;
	font-size:20px;
}.mybtaar:hover {
	background-color:#689f38;
}
#uploadbt{ display:none;}
.txtbt {
    background: #333;
	border:1px solid #212121;
	color:#ccc;
	text-align:center;
	width:100%;
	padding:10px;
    border-radius: 2px;
	font-size:20px;
}
.txtbt:hover {
	background-color:#212121;
	color:#ccc;
}
#senddatap{
	background-color: #00BB53 !important;
}
#textcontpan label{
	font-weight: 400;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */ 
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } 
/* Handle */ 
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: #212121; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
 ::-webkit-scrollbar-thumb:window-inactive { background: #212121; }
 
 
 ::-moz-scrollbar { width: 3px !important; } 
/* Track */ 
::-moz-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } 
/* Handle */ 
::-moz-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: #212121; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
 ::-moz-scrollbar-thumb:window-inactive { background: #212121; }